/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/09/2021, 18:00:04
    Author     : mathn
*/


.linear-grad
{
    -fx-background-color: linear-gradient(to right,#FFFF, #218C85);
}

.btnLogar
{
    -fx-background-color: rgba(66, 240, 220, 0.4);
}

.textField
{
    -fx-border-color: #FFFF #FFFF #000000 rgb(0,0,0,0);
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.btnLogar:hover {-fx-background-color: #218C85}

.linear-grad-background
{
    -fx-background-color: linear-gradient(to top, #BFBDBD 5%, #478AE6);
}

.toggleBtn
{
    -fx-background-color: linear-gradient(to right,#FFFF 0%, #B60808);
}
.toggleBtn:selected {-fx-background-color: linear-gradient(to right,#0AA601 0%, #FFFF)};

.btnAdd
{
    -fx-background-color: rgb(82,77,77,0.50);
}
.btnAdd:hover {-fx-background-color: rgba(82,77,77,0.80)};

